.company-home-card {
  text-align: center;
  padding: 20px;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  width: 100vw;//600px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

/* Overlay the login form inside the white square */
.login-overlay {
  position: absolute;
  top: 67%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
}
