@import '@angular/material/prebuilt-themes/indigo-pink.css';
/*@use '@angular/material' as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$blue-palette);
$my-accent: mat.define-palette(mat.$green-palette);

$my-theme: mat.define-theme((
  color: (
    primary: $my-primary,
    secondary: $my-accent,
  ),
));

@include mat.all-component-themes($my-theme);*/



