<div class="navigation-wrapper">
  <mat-toolbar color="primary" class="nav-toolbar">
    <!-- Hamburger menu -->
    <button mat-icon-button class="menu-button" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>

    <!-- Desktop menu -->
    <div class="desktop-menu">
      <a mat-button
            *ngFor="let item of menuItems"
            [routerLink]="item.link"
            (click)="item.onClick ? item.onClick() : null"
            [routerLinkActive]="item.link ? 'active-link' : ''"
          >
          {{ item.label }}
        </a>
    </div>
  </mat-toolbar>

  <!-- Mobile sidenav -->
  <div *ngIf="isMenuOpen" class="floating-sidenav-container">
    <div class="floating-sidenav">
      <mat-nav-list>
        <a mat-button
            *ngFor="let item of menuItems"
            [routerLink]="item.link"
            (click)="item.onClick ? item.onClick() : null"
            [routerLinkActive]="item.link ? 'active-link' : ''"
          >
          {{ item.label }}
        </a>
      </mat-nav-list>
    </div>
    <div class="menu-clickout-area" (click)="closeMenu()"></div>
  </div>
</div>
